<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='css/logo.png') }}">
</head>
<body>
    {% for message in get_flashed_messages() %}<div class="errors">{{ message }}</div>{% endfor %}
    <div class="header">
        <div class="left-section">
            {% if request.path == '/main_page' %}
                <a>Current Mode: {{ current_mode }}</a>
            {% endif %}

            <a>Logged in as: <span id="username">{{ session['name'] }}</span></a>
        </div>
        <div class="right-section">
            <a href="/logout">Logout</a>
            {% if session['admin'] == 1 %}
                {% if request.path == '/admin_page' %}
                    <a href="/main_page">Back to Main Page</a>
                {% else %}
                    {% if request.path == '/face_lists' %}
                        <a href="/main_page">Back to Main Page</a>
                        {% else %}
                        <a href="/admin_page">Admin Settings</a>
                        {% endif %}
                    {% endif %}
            {% endif %}
        </div>
    </div>
</body>
</html>
